*{
    transition:all 200ms ease-in;
}

body {
    padding:0;
    margin:0;
    font-size:16px;
    background: #fafafa;
    color: #2a2a2a;
    padding-top:60px;
}

header {
    position: fixed;   
    top: 0;         
    left: 0;           
    width: 100%;      
    z-index: 1000; 
    background: #2f8853ac;  /* بک‌گراند دلخواه، مثلا سفید */
    border-bottom: 2px solid #1c4c2ebc; 
    text-align:center;
}


.header > section {
    width:100%;
    max-width:750px;
    margin:auto;
    height:50px;
    margin-top:10px ;
    padding: 5px 60px; 

    
}

.header img {
    max-width:190px; 
    float:left;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:-300px;
    border-radius:20px;
    background:#0a2b17ac;
}

.header > div {
    display:flex;
    justify-content:center;
    align-items:center;
}

.header div input{
    font-size:16px;
    border:1px solid #4d4c4c;
    border-radius:5px;
    float:right;
    margin:15px;
    margin-right:-300px;
}

header a {
    font-size:17px;
    color: #2b2b2b;
    text-decoration: none;
    font-weight:700;
    margin:0 10px;
    padding:10px;
    float:right;

}

header a:hover {
    text-decoration:underline;
    
}

.product-box {
    width: 240px;
    margin: 10px;
    border: 1px solid #2423237e;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    position:relative;
    margin-top:20px;
}

.products{
    display:flex;
    justify-content:center;
    align-items:stretch;
    margin-top:10px;
    max-width:1500px;
    margin:auto;
    flex-wrap:wrap;

}

.product-box > img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-top-right-radius:inherit;
    border-top-left-radius:inherit;
    flex-shrink: 0;
}

.product-box > h3{
    margin:7px 10px;
    
}

.product-box > a {
    margin-top: auto;       
    align-self: flex-start;   
    margin:0;
    left:10px;
    bottom:10px;             
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    border: 2px solid #6fe37c;
    border-radius: 9px;
    background: #6ac8756c;
    color: #0a0a0ad4;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 300;
    float:left;
    position:absolute;

}


.product-box > a:hover{
    background:#6ec47809;

}

.product-box > p{
    font-size:12px;
    margin:7px 10px;
    text-decoration: underline;
    color: #444;
    font-weight:300;
}

a> img{
    width:20px;
    margin-right:3px;
}

a{
    display:flex;
    align-items:center;

}

.tags {
    display: flex;      
    gap: 8px;            
    flex-wrap: wrap;     
    margin-bottom: 5px;
    margin:7px 10px;
}

.tag {
    display: flex;       
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding: 3px 6px;
    border:1px solid #4d4c4c;
    background:#7c7c7c97;
    border-radius:20px;
    margin-right:5px;
    margin-top:3px;
    font-weight:200;
    font-weight:300;
}

.tag img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.tag.red{
    border:1px solid #ff000061;
    background:#e05a5a56;
}

.tag.blue{
    border:1px solid #6468e5ee;
    background:#7167db29;
}
