*{ transition:all 200ms ease-in; } 
body { 
    padding:0; 
    margin:0; 
    font-size:16px; 
    background: #ffffff; 
    color: #2a2a2a; 
    padding-top:60px;
}

header { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    background: #7e7afc; 
    border-bottom: 2px solid #1500f9ff; 
}

.header > section {
    max-width: 1200px; 
    margin: auto;
    padding: 8px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header img { 
    max-width: 180px;
    border-radius: 12px; 
    margin-right:-10px;

}

.header > div { 
    justify-content:center; 
    align-items:center;
    flex-wrap: wrap; 
    gap:200px;
} 

.header div input {
    font-size: 15px; 
    border: 1px solid #4d4c4c; 
    border-radius: 5px; 
    padding: 4px 20px;
    
}

header .header-link{
    font-size: 16px; 
    color: #2b2b2b; 
    text-decoration: none; 
    font-weight: 600; 
    padding: 6px 6px; 
}

header a:hover {
    text-decoration: underline;
}

/* ------------------------------------- */
/* محصولات */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 3px; /* فاصله دقیق بین باکس‌ها */
    margin: 20px auto 80px auto;
    max-width: 1700px;
}

/* باکس محصول */
.product-box section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid #2423237e;
    border-radius: 10px;
    padding-bottom: 40px;
    background: #fff;
    overflow:auto;
}

/* تصویر محصول */
.product-box section > img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* عنوان و متن محصول */
.product-box section > h3,
.product-box section > p {
    margin: 7px 10px;
}

/* قیمت */
.price {
    position:fixed;
    font-size: 16px;
    font-weight: 500;
    margin-bottom:-10px;
    position: absolute;
    bottom: 10px;   /* فاصله از پایین */
    left: 10px;     /* فاصله از چپ */
    font-size: 16px;
    font-weight: 600;

}

/* ------------------------------------- */
/* استایل قیمت مخصوص صفحه سبد خرید */
.simple-box .price {
    position: static;          /* به جای absolute */
    display: inline-block;
    margin: 0 10px 0 0;        /* فاصله بین قیمت و دکمه پرداخت */
    font-size: 18px;
    font-weight: 600;
    color: #2a2a2a;
}

/* چینش قیمت و دکمه پرداخت در انتهای صفحه سبد خرید */
.simple-box > div {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* دکمه افزودن به سبد */
.product-box {
    position: relative; /* والد دکمه باید relative باشد */
}

.add-to-cart-btn {
    position: absolute;
    top: 1px;      /* فاصله از بالا */
    left: 1px;    /* فاصله از سمت راست، میتونی left بذاری اگر سمت چپ میخوای */
    z-index: 10;   /* روی عکس قرار گیرد */
    text-decoration: none;
    padding: 5px 8px;
    font-size: 12px;
    border: 2px solid #6fe37c;
    border-radius: 9px;
    background:  rgba(15, 203, 34, 0.8); /* کمی شفاف برای روی عکس */
    color: #fafafa;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 300;
    opacity:0;
}

.product-box:hover .add-to-cart-btn {
    opacity: 1;
}

.product-box section:hover{
    box-shadow:5px 5px 10px 5px #00000020;
}

.add-to-cart-btn2 {
    width:100px;
    display:flex;
    justify-content:center;
    text-decoration: none;
    padding: 5px 50px;
    margin:5px;
    font-size: 16px;
    border: 2px solid #6fe37c;
    border-radius: 9px;
    background: rgba(27, 130, 38, 0.8); /* کمی شفاف برای روی عکس */
    color: #fafafa;
    font-weight: 400;

}

/* برچسب‌ها */
.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 3px 5px 5px 5px;
}

.tag {
    display: inline-block;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 20px;
    font-weight: 500;
    margin-top:5px;
}

.tag.blue {
    border: 1px solid #6468e5ee;
    background: #7167db29;
}

.tag.pink {
    border: 1px solid #e74bcfee;
    background: #f43dcf29;
}

.tag img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* لینک‌ها و تصاویر داخل لینک */
a.icon > img {
    width: 20px;
    margin-right: 3px;
}

a.icon{
    display:inline-flex;
    align-items:center;
}

.product-detail-box{
    margin: 20px auto 0 auto; /* فاصله بالا ۸۰px، وسط‌چین افقی */
    max-width:800px;
    display:flex;
    flex-wrap:wrap;
    justify-content:right;
    align-items:start;
    border-radius:10px;
    border:2px solid #4d4c4c;
    background:#aeaeae22;
}

.product-detail-box > div > img {
    width: 400px;           /* اندازه ثابت پهنا */
    height: 350px;          /* اندازه ثابت ارتفاع */
    object-fit: cover;      /* عکس رو طوری برش می‌ده که بدون کشیدگی فضا رو پر کنه */
    border-radius: 5px;
    margin: 8px;
    margin-right:3px;
    display: block;         /* جلوگیری از فاصله اضافی پایین عکس */
}

.product-detail-box > section{
    max-width:500px;
}

.product-detail-box h6{
    font-size:13px;
    margin:0;
}

.product-detail-box h1{
    margin:5px;
    margin-top:20px;
}

.product-detail-box .price {
    display:flex;
    justify-content:center;
    background:#7d7d7d59;
    border-radius:5px;
    position: static;   /* یا کلاً این خط رو حذف کن */
    margin-top: 10px;   /* بیاد بالا */
    font-weight: 500px;
    font-size: 20px;
    margin-bottom:5px;
    
}

.product-detail-box .price-box{
    margin:20px;
    text-align:center;
}

.product-description-box{
    max-width:1000px;
    margin:auto;
}

.product-description-box p {
    text-align:justify;
}

.products-in-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* دقیقاً ۴ ستون */
    justify-content: center; /* وسط‌چین افقی کل شبکه */
    gap: 15px; /* فاصله بین باکس‌ها */
    margin: 40px auto 80px auto; /* بالا و پایین فاصله، وسط صفحه */
    max-width: 1000px; /* برای اینکه ۴ تا باکس قشنگ وسط باشن */
}

.similar-products-box{
    max-width:1000px;
    margin:auto;
}

.simple-box{
    background:#9fe5fa7f;
    border:2px solid #0032fbcd;
    max-width:800px;
    border-radius:25px;
    margin:auto;
    margin-top:40px;
    padding:10px;
    overflow:auto;
}

p{
    text-align: justify;
    padding:5px 10px; 
}

.simple-box h1{
    margin:0 10px;
}

table.cart{
    margin:auto;
}

table.cart td{
    padding:5px;
    border-bottom:2px solid rgba(0, 0, 0, 0.237);
}

.cart .pay-btn{
    text-decoration:none;
    color:#60f871;
    font-size:20px;
    float:left;
    border-radius:5px;
    border:2px solid #60f871;
    padding:8px;
    font-weight:700;
}

.cart .pay-btn:hover{
    background:#11f82c;
    color:#ffffff;
}

.cartitem-btn{
    width:25px;
    border-radius:50%;
    padding:2px;
    text-align:center;
    height:25px;
    display:inline-block;
    margin:5px;
    color:black;
    text-decoration:none;
}
.cartitem-increase{
    background:rgba(0, 128, 0, 0.344);
}

.cartitem-decrease{
    background:rgba(255, 0, 0, 0.322);
}

#login-box{
    display:block;
    text-align:center;

}

#register-box{
    display:none;
    text-align:center;
}

.simple-box input , .simple-box textarea{
    color:black;
    font-size:16px;
    display:block;
    margin:5px auto;
    border-radius:10px;
    border:1px solid black;
    padding:2px 10px;
}

.simple-box input[type='submit']{
    all:unset;
    border-radius:10px;
    width:100%;
    max-width:204px;
    cursor:pointer;
    margin:auto;
    display:block;
    text-align:center;
    background:transparent;
    border:2px solid #00b6ff;
    padding:5px;
    color:black;
}

.simple-box input[type='submit']:hover {
    background: #008ed6;
}

.flash{
    position:'bottom-right';
    margin-top:50px;
}

.banner{
    margin: 10px auto;
    display:block;
    max-width:800px;
    border-radius:35px;
}

.red-btn{
    text-decoration:none;
    color:#fd2323;
    font-size:20px;
    border-radius:15px;
    border:2px solid #f91b1b;
    padding:5px;
    font-weight:700;
}

.red-btn:hover{
    background:#f81111;
    color:#ffffff;
}

@media (max-width: 700px) {
    header > section > div {
        display:block;
        position: absolute;
        left:0;
        right:0;
        top:0;
        background:#ffffff;
        padding:10px;
        height:0;
    }

    header > section > div > *{
        display:block;
    }
}
