{% extends 'base.html' %}
{% block header %}
<title>ویرایش محصول {{ product.name }}</title>
{% endblock %}

{% block body %}
<section class="edit-product-page">
    <div class="edit-product-container">
        <h1>ویرایش محصول: {{ product.name }}</h1>
        <form action="{{ url_for('admin.edit_product', id=product.id) }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <label for="name">نام محصول</label>
            <input type="text" id="name" name="name" value="{{ product.name }}" required>

            <label for="description">توضیحات محصول</label>
            <textarea id="description" name="description" rows="5" required>{{ product.description }}</textarea>

            <label for="price">قیمت محصول</label>
            <input type="number" id="price" name="price" value="{{ product.price }}" required>

            <label for="cover">تصویر محصول</label>
            <input type="file" id="cover" name="cover">

            <button type="submit">ذخیره تغییرات</button>
        </form>
    </div>
</section>
{% endblock %}
{% block footer %}
<!-- خالی گذاشتیم تا فوتر نمایش داده نشود -->
{% endblock %}
