{% extends 'base.html' %}
{% block header %}
<title>ورود به پنل مدیریت</title>
{% endblock %}

{% block body %}
<body class="login-page">
    <div class="login-box">
        <h1>ورود به پنل مدیریت</h1>
        <form action="/admin/login" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="username" placeholder="نام کاربری" required>
            <input type="password" name="password" placeholder="رمز عبور" required>
            <input type="submit" value="ورود">
        </form>
    </div>
</body>
{% endblock %}
{% block footer %}
<!-- خالی گذاشتیم تا فوتر نمایش داده نشود -->
{% endblock %}



