<header class="header">
  <section>
    <a href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="online shop">
    </a>
    <div>
        <form action="/" method="get">
            <input type="search" name="search" value="{{ search if search != None }}" placeholder="جستجو.....">
        </form>
        <a class="header-link" href="/cart">سبد خرید</a>
        {% if current_user.is_authenticated %}
        <a class="header-link" href="/user/login">پنل کاربری</a>
        {% else %}
        <a class="header-link" href="/user/login">ورود/ثبت نام</a>
        {% endif %}
        <a class="header-link" href="/about">درباره ما</a>
    </div>
  </section>
</header>