{% extends 'base.html' %}
{% block header %}
<title>فروشگاه اینترنتی</title>
{% endblock %}
{% block body %}

<header>
  <section class="navbar">
    <div class="nav-left">
      <a href="#">صفحه اصلی</a>
      <a href="#">درباره ما</a>
      
    </div>

    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="online shop">
    </div>

    <div class="nav-right">
      <a href="#">محصولات جدید</a>
      <a href="#">محصولات پرفروش</a>
    </div>
  </section>
</header>

<section class="products">
{% for p in products %}
    <section class="product-box">
      <img src="{{url_for('static',filename='covers/'+p.id|string+'.jpg')}}">
      <div class="tags">
        <span class="tag red">ارسال رایگان <img src="{{ url_for('static',filename='theme-image/delivary.png') }}"></span>
        <span class="tag blue">ضمانت کالا <img src="{{ url_for('static',filename='theme-image/done.png') }}"></span>
      </div>
      <h3>{{ p.name }}</h3>
      <p>
        {{ p.description|truncate(10)}}
        <br>
        <a href="{{ url_for ('general.product' , id=p.id, name=p.name ) }}" >توضیحات بیشتر</a>
      </p>
      <a href="{{ url_for('user.add_to_cart',id=p.id)}}" >افزودن به سبد خرید<img src="{{ url_for('static',filename="theme-image/cart.png" )}}"></a>
    </section>
{% endfor %} 
</section>  
{% endblock %}